body>.ui.container {
    margin-top: 3em;
}

.ui.container>h1 {
    font-size: 3em;
    text-align: center;
    font-weight: normal;
}

.ui.container>h2.dividing.header {
    font-size: 2em;
    font-weight: normal;
    margin: 4em 0em 3em;
}

.active > .accordion-title {
    font-weight: 600;
}

p.done {
    color: red;
}

.inline {
    display: inline-block;
    padding-left: .3em;
}

.verse-hidden {
    display: none;
}

.verse-show {
    display: inline-block;
}

textarea {
    max-height: none !important;
}
