body > .ui.container {
    margin-top: 3em;
}

.ui.container > h1 {
    font-size: 3em;
    text-align: center;
    font-weight: normal;
}

.ui.container > h2.dividing.header {
    font-size: 2em;
    font-weight: normal;
    margin: 4em 0em 3em;
}

.active > .accordion-title {
    font-weight: 600;
}

.done {
    color: red;
}

.verse-hidden {
    display: none;
}

.practice .verse-hidden {
    display: initial;
}

textarea {
    max-height: none !important;
}

.verse {
    font-size: 1.28571429rem;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    line-height: 1.28571429em;
    margin: calc(2rem - .14285714em) 0 1rem;
    padding: 0;
}

.ui.grid > .row {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.verse-paragraph > span {
    padding-left: .3em;
}
