<html>

<head>
  <meta name="google-signin-client_id" content="<%= clientId %>">
  <script src="https://apis.google.com/js/platform.js"></script>
</head>

<body>
  <button onclick='login()'>Login</button>
  <script>
    function login() {
      gapi.load('auth2', function() {
        gapi.auth2.init({
          client_id: "<%= clientId %>",
          scope: "profile email",
          fetch_basic_profile: false,
          hosted_domain: "<%= domain %>"
        }).then(function() {
          gapi.auth2.getAuthInstance().signIn().then(function(response) {
            var xhr = new XMLHttpRequest();
              <% if (isProd) { %>
                xhr.open('POST', 'https://bible-memory.herokuapp.com/authenticate');
              <% } else { %>
                xhr.open('POST', 'http://localhost:3000/authenticate');
              <% } %>
              xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
              xhr.onload = function() {
                if (xhr.status === 200) {
                  window.location.href = xhr.responseURL;
                }
              };
              xhr.send('id=' + response.getAuthResponse().id_token);
          });
        });
      });
    }
  </script>
</body>

</html>
