<html>

<head>
  <meta name="google-signin-client_id" content="<%= clientId %>">
  <script src="https://apis.google.com/js/platform.js"></script>
</head>

<body>
  <div className="title wrapper" aria-label="Bible Memory app">
    <h1>Bible Memory</h1>
  </div>
  <button id='login-button'>Login</button>
  <style>
    div.title.wrapper {
        display: inline-flex;
        align-items: flex-end;
        background-color: #89360c;
        box-sizing: border-box;
        height: 3em;
        padding-bottom: 4px;
    }
    .title h1 {
        color: #ffffff;
        font-style: italic;
        padding-right: 1em;
        margin: 0;
    }
  </style>
  <script>
    (function () {
      gapi.load('auth2', function() {
        gapi.auth2.init({
          client_id: "<%= clientId %>",
          scope: "email",
          fetch_basic_profile: false,
          hosted_domain: "<%= domain %>"
        }).then(function() {
          gapi.signin2.render('login-button', {
            theme: 'dark',
            onsuccess: function(response) {
              debugger;
              var xhr = new XMLHttpRequest();
              xhr.open('POST', 'https://bible-memory.herokuapp.com/authenticate');
              xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
              xhr.onload = function() {
                if (xhr.status === 200) {
                  window.location.href = xhr.responseURL;
                }
              };
              xhr.send('id=' + response.getAuthResponse().id_token);
            }
          });
        });
      });
    })();
  </script>
</body>

</html>
