html {
    background-color: theme('colors.bg');
    @apply font-serif;
}

hr {
    @apply w-full border-0 my-2;
}

button {
    @apply border-solid rounded-lg cursor-pointer px-1;
    background-color: theme('colors.btn-primary');
}

button.action {
    background-color: theme('colors.btn-strong');
}

button:focus {
    @apply outline-none;
}

input[type="text"] {
    @apply border-solid rounded-lg border-2 border-gray-500;
}

input[type="checkbox"] {
    @apply opacity-0 m-0 w-0;
}

input[type="checkbox"] + label::before {
    @apply inline-block leading-none border-2 border-solid font-bold w-4;
    content:  "\00a0";
    padding-left: .125rem;
    padding-right: .875em;
    border-color: theme('colors.chbox');
    color: theme('colors.chbox');
}

input[type="checkbox"]:checked + label::before {
    content: "\2714";
}

input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2pt theme('colors.ctrl-focus');
}

.checkbox label, .checkbox input[type="checkbox"] {
    cursor: pointer;
}

:focus {
    box-shadow: 0 0 0 2pt theme('colors.ctrl-focus');
    outline: unset;
}

textarea {
    @apply resize-none;
}

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-2xl font-bold;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";